{% from "./menu-link.njk" import menu_link %}
{% from "../icons/menu-icon.njk" import menu_icon %}

{% set external_links = [
    {title: "YouTube", url: "", altText: "/@Rollygon"},
    {title: "Sketchfab", url: "", altText: "/Rollygon"},
    {title: "Bluesky", url: "", altText: "Rollygon.bsky.social"},
    {title: "Gumroad", url: "", altText: "Rollygon.gumroad.com"}
] %}

{% set nav_links = [
    {title: "/ home", url: "/"},
    {title: "/ builds", url: "/builds"},
    {title: "/ blog", url: "/blog"},
    {title: "/ about", url: "/about"}
] %}

{% macro menu(lastUpdate) %}
<button class="menu__button">
	<input class="menu__button__toggle" type="checkbox" />
	{{ menu_icon("var(--clr-neutral-50)") }}
</button>
<aside class="menu">
	<div class="content-wrapper menu__wrapper">
		<img
			class="rollygon-text"
			src="/assets/img/rollygon-text.svg"
			alt="Rollygon."
			width="256px"
		/>
		<ul class="menu__links">
		{%- for link in external_links -%}
            <li class="menu__item">{{ menu_link(link.title, link.url, link.altText) }}</li>
        {%- endfor -%}
		</ul>
		<nav class="menu__nav">
			<ul class="menu__links">
			{%- for link in nav_links -%}
				<li class="menu__item">{{ menu_link(link.title, link.url) }}</li>
			{%- endfor -%}
			</ul>
		</nav>
		<span>
			Last update: {{ lastUpdate | postDate }}<br />
			&copy; Rollygon
		</span>
	</div>
</aside>
{% endmacro %}