.menu__wrapper {
	row-gap: var(--gap-m);
	min-height: 100dvh;

	overflow-y: scroll;
}

.menu {
	position: fixed;
	display: flex;
	min-width: 100vw;
	height: 100%;

	background-color: var(--clr-menu-background);

	translate: 100%;
	transition: translate 0.8s cubic-bezier(0.70, -0.4, 0.1, 1.4);
}

.menu::before {
	position: absolute;
	content: "";
	width: 20dvw;
	height: 100dvh;
	background-color: var(--clr-menu-background);
	right: -50px;
}

.rollygon-text {
	display: flex;
	align-self: center;
}

.menu__nav {
	margin-top: auto;
}

.menu__links {
	display: flex;
	flex-direction: column;
	gap: var(--gap-s);

	list-style: none;
	padding: 0;
}

.menu__item {
	display: flex;
	color: var(--clr-text--faded);
}

.menu__link {
	display: flex;
	flex-direction: row;

	margin-inline-end: 0.5em;
	font-weight: 900;
}

.link__arrow-icon {
	display: flex;
	align-self: center;
	margin-inline-start: auto;
}

.menu__button {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 0;
	padding: 0;
	background: none;

	bottom: var(--gap-m);
	right: var(--gap-m);
	z-index: 999;
}

.menu__button__toggle {
	width: var(--gap-m);
	height: var(--gap-m);

	border-radius: 50px;

	background-color: var(--clr-primary);

	appearance: none;
	cursor: pointer;
}

.menu__button:has(.menu__button__toggle:checked) + .menu {
	translate: 0%;
}

.menu__button:has(.menu__button__toggle:checked) #menu-icon {
	rotate: -0.25turn;
}

/* .menu__button:has(.menu__button__toggle:checked) .menu-icon__path {
	animation-name: stroke-thickness-open;
	animation-duration: 1s;
} */

.menu__button:has(.menu__button__toggle:checked) #menu-icon__path-a {
	stroke-dashoffset: -203;
}

.menu__button:has(.menu__button__toggle:checked) #menu-icon__path-b {
	stroke-dashoffset: -254.5;
}

#menu-icon {
	position: absolute;

	rotate: 0turn;
	transition: 0.4s cubic-bezier(0.2,-0.8,0.6,1.9);
	pointer-events: none;
}

#menu-icon__path-a {
	transition-delay: 0.2s;
}

#menu-icon__path-b {
	transition-delay: 0.2s;
}

.menu-icon__path {
	/* animation-name: stroke-thickness-close;
	animation-duration: 1s; */

	transition: 0.6s cubic-bezier(.3,-0.4,.61,1.3);

	stroke-width: 4px;
	stroke-dasharray: 25 1000;
	stroke-dashoffset: -6.5;
}

@keyframes stroke-thickness-open {
	20% { stroke-width: 4px; }
	55% { stroke-width: 8px; }
	85% { stroke-width: 2px; }
	100% { stroke-width: 4px; }
}

@keyframes stroke-thickness-close {
	20% { stroke-width: 4px; }
	55% { stroke-width: 8px; }
	85% { stroke-width: 2px; }
	100% { stroke-width: 4px; }
}