---
import ContentCard from "@/components/ContentCard.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import SearchBar from "@/components/SearchBar.astro";
import { ALL_TOOLS } from "@/content/config";
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout pageTitle="Tools" color="yellow" pattern="3">
	<div class="flex flex-col gap-4">
		<PageTitle heading="Tools" />
		<SearchBar />
	</div>
	<div class="flex flex-col gap-4">
		<h2>All tools</h2>
		<div class="flex flex-col gap-8">
			{ALL_TOOLS.map((content) => <ContentCard {content} />)}
		</div>
	</div>
</SiteLayout>
