{% from "./macros/menu/menu.njk" import menu %}
<header class="header content-wrapper">
    {{ menu(lastUpdate) }}
    <a class="header__link" href="/">rollygon</a>
    <span class="header__link">/</span>
    {% if ("/blog/" in page.url) and ("/blog/" !== page.url) %}
        <a class="header__link" href="/posts/">blog</a>
        <span class="header__link">/</span>
        <span class="header__focus">...</span>
    {% elif ("/builds/" in page.url) and ("/builds/" !== page.url) %}
        <a class="header__link" href="/builds/">builds</a>
        <span class="header__link">/</span>
        <span class="header__focus">...</span>
    {% else %}
        <span class="header__focus">{{ title | slugify }}</span>
    {% endif %}
</header>
