{% from "./model-embed.njk" import modelEmbed %}
{% macro buildCard(build) %}
<li class="build__card">
    {% if build.data.href %}
        {{modelEmbed(build.data.href)}}
    {% else %}
        <img class="build__thumbnail" src="{{build.data.thumbnail}}" alt="">
    {% endif %}
    <div class="build__header">
        <a href="{{build.url}}">
            View build >>
        </a>
        <span class="build__type">{{build.data.buildType}}</span>
    </div>
</li>
{% endmacro %}