{% from "./menu.njk" import menu %}
{% from "../icons/logo.njk" import logo %}
<header class="header content-wrapper">
    {{menu(lastUpdate)}}
    <a href="/">{{logo("var(--clr-primary)")}}</a>
    {% if ("/blog/" in page.url) and ("/blog/" !== page.url) %}
        <a class="header__link" href="/blog">Blog</a>
        <span class="header__link">/</span>
        <a href="{{page.url}}" class="header__focus">{{page.fileSlug}}</a>
    {% elif ("/builds/" in page.url) and ("/builds/" !== page.url) %}
        <a class="header__link" href="/builds">Builds</a>
        <span class="header__link">/</span>
        <a href="{{page.url}}" class="header__focus">{{page.fileSlug}}</a>
    {% else %}
        <a href="{{page.url}}">{{title}}</a>
    {% endif %}
</header>
