{% macro pagePagination(pagination, collectionName) %}
{% if pagination.pageLinks.length > 1 %}
<span>
    Showing {{(pagination.pageNumber * pagination.size) + 1}} to
    {% if pagination.nextPageLink %}
        {{(pagination.pageNumber * pagination.size) + pagination.size}}
    {% else %}
        {{collectionName.length}}
    {% endif %}
    of {{collectionName.length}} results
</span>
<nav class="pagination">
    {% if pagination.previousPageLink %}
        <a class="pagination__prev" href="{{pagination.previousPageHref}}"><< Previous</a>
    {% endif %}
    {% if pagination.nextPageLink %}
        <a class="pagination__next" href="{{pagination.nextPageHref}}">Next >></a>
    {% endif %}
</nav>
{% endif %}
{% endmacro %}