---
import ArticleCard from "@/components/ArticleCard.astro";
import { ALL_ARTICLES } from "@/content/config";
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout pageTitle="Articles">
	<section class="wrapper flex flex-col gap-16 py-16">
		<div class="flex flex-col gap-8">
			<h2>Newest article</h2>
			<ArticleCard article={ALL_ARTICLES[0]} featured />
		</div>
		<div class="flex flex-col gap-8">
			<h2>All articles</h2>
			{
				[...ALL_ARTICLES]
					.splice(1, ALL_ARTICLES.length)
					.map((article) => <ArticleCard {article} />)
			}
		</div>
	</section>
</SiteLayout>
