---
import FeaturedContent from "@/components/FeaturedContent.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import ModelCard from "@/components/ModelCard.astro";
import SearchBar from "@/components/SearchBar.astro";
import { ALL_MODELS } from "@/content/config";
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout pageTitle="Models" color="green" pattern="3">
	<div class="flex flex-col gap-4">
		<PageTitle heading="Models" />
		<SearchBar />
	</div>
	<div class="flex flex-col gap-4">
		<h2>Featured model</h2>
		<FeaturedContent content={ALL_MODELS[2]} />
	</div>
	<div class="flex flex-col gap-4">
		<h2>All models</h2>
		<div class="flex flex-col gap-8">
			{ALL_MODELS.map((model) => <ModelCard {model} />)}
		</div>
	</div>
</SiteLayout>
