---
import ContentCard from "@/components/ContentCard.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import Pagination from "@/components/Pagination.astro";
import SearchBar from "@/components/SearchBar.astro";

import SiteLayout from "@/layouts/SiteLayout.astro";

import { ALL_POSTS } from "@/content/config";
import { FEATURED_POSTS } from "@/scripts/constants";
import type { Page } from "astro";

interface Props {
	page: Page<any>;
}

export async function getStaticPaths({ paginate }: any): Promise<any> {
	return paginate(ALL_POSTS, {
		pageSize: 10,
	});
}

const { page } = Astro.props;
---

<SiteLayout pageTitle="Posts" color="neutral" pattern="3">
	<div class="flex flex-col gap-4">
		<PageTitle heading="Posts" />
		<SearchBar />
	</div>
	<div class="flex flex-col gap-4">
		<h2>Featured post</h2>
		<FeaturedContent content={FEATURED_POSTS[0]} />
	</div>
	<div class="flex flex-col gap-4">
		<h2>All posts</h2>
		<div class="flex flex-col gap-8 w-full">
			{page.data.map((content) => <ContentCard {content} />)}
		</div>
	</div>
	<Pagination {page} content={ALL_POSTS} />
</SiteLayout>
