---
import BlogPostCard from "@/components/BlogPostCard.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import SearchBar from "@/components/SearchBar.astro";
import { ALL_POSTS } from "@/content/config";
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout pageTitle="Blog" color="neutral" pattern="5">
	<div class="flex flex-col gap-8">
		<PageTitle heading="Blog" />
		<SearchBar />
	</div>
	<div class="flex flex-col gap-8">
		<h2>Newest post</h2>
		<BlogPostCard post={ALL_POSTS[0]} featured />
	</div>
	<h2>All articles</h2>
	<div class="grid grid-cols-2 gap-8">
		{[...ALL_POSTS].splice(1, ALL_POSTS.length).map((post) => <BlogPostCard {post} />)}
	</div>
</SiteLayout>
