{% macro build_card(build_url, build_title, build_status) %}
<li>
    <a class="build__card link" href="{{build_url}}">
        {{build_title}}
        <span>{{build_status}}</span>
    </a>
</li>
{% endmacro %}