@import "./reset.css";
@import "tailwindcss";

@theme {
    --color-text: var(--color-neutral-950);
    --color-text-dim: color-mix(in srgb, var(--color-text), var(--color-surface-primary) 50%);

    --color-red: oklch(0.704 0.1619 27.07);
    --color-orange: oklch(0.8007 0.1362 64.92);
    --color-yellow: oklch(0.9095 0.181 99.31);
    --color-lime: oklch(0.8864 0.2296 136.34);
    --color-green: oklch(0.7949 0.2145 149.27);
    --color-blue: oklch(0.8003 0.1199 219.73);
    --color-purple: oklch(0.6689 0.2234 305.73);
    --color-fucshia: oklch(0.741 0.2535 325.69);

    --color-surface-primary: var(--color-neutral-50);
    --color-surface-secondary: var(--color-neutral-100);

    --stroke-width: 2;
    --radius-sm: 4px;
    --radius-lg: 8px;
}

html {
    height: 100%;
    scroll-padding-top: 92px;
}

@font-face {
  font-family: "Benz Grotesk";
  src: url("./src/assets/fonts/BenzGrotesk.ttf");
}

h1 {
    font-family: "Benz Grotesk";
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
}

h3 {
    font-size: 1.25rem;
    font-weight: 900;
}

.content {
    max-width: 72ch;

    & a {
        text-decoration: underline;

        &:hover {
            color: var(--color-text-dim);
        }
    }

    & > h2 {
        margin-top: 1em;
    }

    & p, & > a, & li, & strong, & em {
        font-family: "Libre Baskerville";
        font-size: 1.125em;
    }

    & ol, & ul {
        margin-top: -1em;
    }

    & li {
        margin-left: 2em;
        list-style: decimal;
    }

    & code {
        padding: 0.25em;
        border-radius: 0.25em;
        font-size: 0.75em;
        background-color: var(--color-neutral-200);
    }
}

@utility list {
    list-style-type: style;
    & > li {
        padding-left: 1rem;
    }
}

@utility heading-xs {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
}

@utility heading-sub {
    font-size: 1.5rem;
}

@utility wrapper {
    margin-inline: auto;
}


@utility border-sm {
    border: solid 2px;
    border-radius: var(--radius-sm);
}

@utility border-lg {
    border: solid 2px;
    border-radius: var(--radius-lg);
}

@utility border-top {
    border-top: solid 2px;
}

@utility border-bottom {
    border-bottom: solid 2px;
}

@utility shadow-sm {
    box-shadow: 2px 2px 0;
}

@utility shadow-lg {
    box-shadow: 4px 4px 0;
}

@utility shadow-sm-hover {
    &:hover, &:focus-visible {
        transform: translate(1px, 1px);
        box-shadow: 1px 1px 0;
    }
}

@utility shadow-lg-hover {
    &:hover, &:focus-visible {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0;
    }
}

@utility bg-surface {
    background-color: var(--color-surface-primary);
}

@utility bg-surface-secondary {
    background-color: var(--color-surface-secondary);
}

@media (max-width: 40rem) {
    .wrapper {
        width: 100%;
        padding: 2rem;
    }
}

@media (min-width: 40rem) {
    .wrapper {
        width: 38rem;
    }
}

@media (min-width: 60rem) {
    .wrapper {
        width: 50rem;
    }
}

@media (min-width: 80rem) {
    .wrapper {
        width: 70rem;
    }
}

@media (min-width: 100rem) {
    .wrapper {
        width: 80rem;
    }
}

a[data-icon-fill]:hover > svg > path {
    fill: var(--color-text-dim);
}

a[data-icon-stroke]:hover > svg > path {
    stroke: var(--color-text-dim);
}
