@import "./reset.css";
@import "tailwindcss";

@theme {
    --color-text: var(--color-neutral-700);
    --color-text-dim: color-mix(in srgb, var(--color-text), var(--color-surface-primary) 50%);

    --color-surface-primary: var(--color-neutral-50);
    --color-surface-secondary: var(--color-neutral-100);

    --color-section-border: var(--color-neutral-200);

    --stroke-width: 1.5;
}

html {
    scroll-padding-top: 92px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.content {
    max-width: 72ch;

    & > h2 {
        margin-top: 2em;
    }

    & > p {
        font-family: "Libre Baskerville";
        font-size: 1.125em;
    }
}

hr {
    color: var(--color-neutral-200);
}

@utility list {
    list-style-type: style;
    & > li {
        padding-left: 1rem;
    }
}

@utility heading-xs {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-text-dim);
}

@utility heading-sub {
    font-size: 1.5rem;
}

@utility wrapper {
    margin-inline: auto;
}

@utility text {
    color: var(--color-text);
}

@utility text-dim {
    color: var(--color-text-dim);
}

@utility border {
    border-color: var(--color-text-dim);
    border-radius: 0.5rem;
}

@utility bg-surface {
    background-color: var(--color-surface-primary);
}

@utility bg-surface-secondary {
    background-color: var(--color-surface-secondary);
}

@utility border-bottom {
    border-bottom: solid 1px var(--color-section-border);
}

@utility border-top {
    border-top: solid 1px var(--color-section-border);
}

@media (max-width: 40rem) {
    .wrapper {
        width: 100%;
        padding: 2rem;
    }
}

@media (min-width: 40rem) {
    .wrapper {
        width: 38rem;
    }
}

@media (min-width: 60rem) {
    .wrapper {
        width: 50rem;
    }
}

@media (min-width: 80rem) {
    .wrapper {
        width: 70rem;
    }
}

@media (min-width: 100rem) {
    .wrapper {
        width: 80rem;
    }
}

a[data-icon-fill]:hover > svg > path {
    fill: var(--color-text-dim);
}

a[data-icon-stroke]:hover > svg > path {
    stroke: var(--color-text-dim);
}
