@import "./reset.css";
@import "tailwindcss";

@theme {
    --color-text: var(--color-black);
    --color-text-dim: color-mix(in srgb, var(--color-text), var(--color-white) 50%);

    --color-red: oklch(0.704 0.1619 27.07);
    --color-orange: oklch(0.8007 0.1362 64.92);
    --color-yellow: oklch(0.9095 0.181 99.31);
    --color-lime: oklch(0.8864 0.2296 136.34);
    --color-green: oklch(0.7949 0.2145 149.27);
    --color-blue: oklch(0.8003 0.1199 219.73);
    --color-purple: oklch(0.6689 0.2234 305.73);
    --color-fucshia: oklch(0.741 0.2535 325.69);

    --stroke-width: 2;
    --radius-lg: calc(var(--spacing) * 3);
    --radius-sm: calc(var(--radius-lg) / 2);
    --radius-pill: calc(var(--spacing) * 99);

    --bg-1: url("/backgrounds/bg-1.png");
    --bg-2: url("/backgrounds/bg-2.png");
    --bg-3: url("/backgrounds/bg-3.png");
    --bg-4: url("/backgrounds/bg-4.png");
    --bg-5: url("/backgrounds/bg-5.png");
    --bg-6: url("/backgrounds/bg-6.png");
    --bg-7: url("/backgrounds/bg-7.png");
}

html {
    scroll-padding-top: calc(var(--spacing) * 32);
}

@font-face {
  font-family: "Benz Grotesk";
  src: url("/src/assets/fonts/BenzGrotesk.ttf");
}

h1 {
    font-family: "Benz Grotesk";
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 3rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 900;
}

h3 {
    font-size: 1.25rem;
    font-weight: 900;
}

@utility content {
    max-width: 72ch;

    & a {
        text-decoration: underline;

        &:hover {
            opacity: 0.5;
        }
    }

    & > h2 {
        margin-top: 1em;
    }

    & p, & > a, & li, & strong, & em {
        font-family: "Libre Baskerville";
        font-size: 1.125em;
    }

    & ol, & ul {
        margin-top: -1em;
    }

    & li {
        margin-left: 2em;
        list-style: decimal;
    }

    & code {
        padding: 0.25em;
        border-radius: 0.25em;
        font-size: 0.75em;
        background-color: var(--color-neutral-200);
    }
}

@utility list {
    list-style-type: style;
    & > li {
        padding-left: 1rem;
    }
}

@utility heading-xs {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
}

@utility heading-sub {
    font-size: 1.5rem;
}

@utility wrapper {
    margin-inline: auto;
}


@utility border-sm {
    border: solid 2px;
    border-radius: var(--radius-sm);
}

@utility border-lg {
    border: solid 2px;
    border-radius: var(--radius-lg);
}

@utility border-top {
    border-top: solid 2px;
}

@utility border-bottom {
    border-bottom: solid 2px;
}

@utility shadow-sm {
    box-shadow: 2px 2px 0;
}

@utility shadow-lg {
    box-shadow: 4px 4px 0;
}

@utility shadow-sm-hover {
    &:hover, &:focus-visible {
        transform: translate(1px, 1px);
        box-shadow: 1px 1px 0;
    }
}

@utility shadow-lg-hover {
    &:hover, &:focus-visible {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0;
    }
}

@utility card-sm {
    display: flex;
    flex-direction: column;
    gap:  calc(var(--spacing) * 4);

    background-color: var(--color-white);
    border: solid var(--color-black) 2px;
    border-radius: var(--radius-lg);

    padding: calc(var(--spacing) * 4);
    box-shadow: 4px 4px 0;
}

@utility card-lg {
    display: flex;
    flex-direction: column;
    gap:  calc(var(--spacing) * 8);

    background-color: var(--color-white);
    border: solid var(--color-black) 2px;
    border-radius: var(--radius-lg);

    padding: calc(var(--spacing) * 8);
    box-shadow: 4px 4px 0;
}

@utility background-marquee {
    position: relative;
    inset: 0;
        
    background-color: var(--marquee-color);
    z-index: 0;

    &::before {
        position: absolute;
        overflow: hidden;
        inset: 25%;

        background-image: var(--marquee-pattern);
        transform: scale(2) rotate(-1deg);
        animation: background-marquee 16s linear infinite;

        opacity: 0.05;
        content: "";
        z-index: -10;
    }

    & [data-shadow] {
        text-shadow: 0 0 1em var(--marquee-color);
    }
}

@media (max-width: 40rem) {
    .wrapper {
        width: 100%;
        padding: 2rem;
    }
}

@media (min-width: 40rem) {
    .wrapper {
        width: 38rem;
    }
}

@media (min-width: 60rem) {
    .wrapper {
        width: 50rem;
    }
}

@media (min-width: 80rem) {
    .wrapper {
        width: 67.5rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    .page-title {
        &::before {
            animation: none;
        }
    }

    a,
    button {
        &:hover::before {
            animation: none;
        }
    }
}

@keyframes background-marquee {
    0% {
        background-position:  0px 0px;
    }

    100% {
        background-position: -64px 16px;
    }
}

@keyframes button-marquee {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 64px;
    }
}
