@import "./reset.css";
@import "tailwindcss";

@theme {
    --color-text: var(--color-neutral-700);
    --color-text-dim: color-mix(in srgb, var(--color-text), var(--color-surface-primary) 50%);

    --color-surface-primary: var(--color-neutral-50);
    --color-surface-secondary: var(--color-neutral-100);

    --color-section-border: var(--color-neutral-200);
}

@utility wrapper {
    margin-inline: auto;
}

@utility text {
    color: var(--color-text);
}

@utility text-dim {
    color: var(--color-text-dim);
}

@utility border {
    border-color: var(--color-text-dim);
    border-radius: 0.5rem;
}

@utility bg-surface {
    background-color: var(--color-surface-primary);
}

@utility bg-surface-secondary {
    background-color: var(--color-surface-secondary);
}

@utility heading-sm {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-text-dim);
}

@utility heading-md {
    font-size: 1.5rem;
    font-weight: bold;
}

@utility border-bottom {
    border-bottom: solid 1px var(--color-section-border);
}

@utility border-top {
    border-top: solid 1px var(--color-section-border);
}

@media (max-width: 40rem) {
    .wrapper {
        width: 100%;
        padding: 2rem;
    }
}

@media (min-width: 40rem) {
    .wrapper {
        width: 38rem;
    }
}

@media (min-width: 60rem) {
    .wrapper {
        width: 50rem;
    }
}

@media (min-width: 80rem) {
    .wrapper {
        width: 70rem;
    }
}

@media (min-width: 100rem) {
    .wrapper {
        width: 80rem;
    }
}

a[data-icon-fill]:hover > svg > path {
    fill: var(--color-text-dim);
}

a[data-icon-stroke]:hover > svg > path {
    stroke: var(--color-text-dim);
}
