---
lastUpdate: 2025-02-06
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rollygon | {{ title }}</title>
		<link
			rel="icon"
			href="/assets/img/rollygon_logo_dark.png"
			type="image/png"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/styles.css" media="screen"/>
		<script src="/assets/js/menu.js" defer></script>
	</head>
	<body>
		{% include "header.njk" %}
		<main class="content-wrapper content-spacing">{{ content | safe }}</main>
		{% include "footer.njk" %}
	</body>
</html>
