---
layout: "/layouts/base.njk"
---
{% from "../components/video-embed.njk" import videoEmbed %}
<header >
    <h1>   
        {% if buildName %}{{buildName}} - {% endif %}{{title}}
    </h1>
    <span>{{content | timeToRead}} read &bullet; Posted on: {{page.date | postDate}}</span>
</header>
{% if href %}
    {{videoEmbed(href)}}
{% endif %}
{{content | safe}}
{% if buildURL %}
    <a href="{{buildURL}}"><< View build</a>
{% endif %}
