---
layout: "/layouts/base.njk"
---
{% set updateTag = (title | slugify) + "-update" %}
{% from "../components/blog-post-card.njk" import blogPostCard %}
{% from "../components/model-embed.njk" import modelEmbed %}
<header>
    <h1>{{ title }}</h1>
    <span>{{ page.date | postDate }}</span>
</header>
{% if href %}
    {{modelEmbed(href)}}
{% else %}
    <img src="{{thumbnail}}" alt="{{title}}">
{% endif %}
{{content | safe}}
{% if collections[updateTag] %}
<div>
    <h2>Updates</h2>
    <ul class="post__list">
        {%- for update in collections[updateTag] | reverse -%}
        {{blogPostCard(update)}}
        {%- endfor -%}
    </ul>
</div>
{% endif %}
