---
layout: "/layouts/base.njk"
---
<header>
    <h1>{{ title }}</h1>
    <span>{{ page.date | postDate }}</span>
</header>

{{ content | safe }}

{# <div> <!-- Loop through all posts with the #update and #[project name] tags -->
    <h2>Updates</h2>
</div> #}