/*  Josh's Custom CSS Reset
    https://joshwcomeau.com/css/custom-css-reset/ 
    version: 2024-11-25
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	font-family: "Source Serif 4", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-wrap: pretty;
}

a {
	text-decoration: none;
	color: var(--clr-text--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	text-wrap: balance;
}

h1,
h2,
h3,
a,
span {
	font-family: "DM Sans", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

#root,
#__next {
	isolation: isolate;
}