@import url("reset.css");
@import url("menu.css");

:root {
	--gap-xs: 0.5em;
	--gap-s: 1em;
	--gap-m: 3em;
	--gap-l: 6em;

	--fw-regular: 400;
	--fw-bold: 900;

	--border-radius: 0.5em;

	--clr-primary: #0F6EFC;
	--clr-neutral-50: #F1F6F9;
	--clr-neutral-100: #CFD2DB;
	--clr-neutral-400: #5A5A66;
	--clr-neutral-700: #1E1D29;
	--clr-neutral-900: #03010D;

	--clr-text--primary: var(--clr-neutral-50);
	--clr-text--faded: var(--clr-neutral-400);
	
	--clr-icon--primary: var(--clr-neutral-50);
	--clr-icon--faded: var(--clr-neutral-400);

	--clr-background: var(--clr-neutral-700);
	--clr-menu-background: var(--clr-neutral-900);
	--clr-card-background: var(--clr-neutral-900);
}

/* @media (prefers-color-scheme: light) {
	:root {

	}
} */

body {
	overflow-x: hidden;
	background-color: var(--clr-background);
	color: var(--clr-text--primary);
}

.content-wrapper {
	display: flex;
	flex-direction: column;

	overflow-x: hidden;

	width: 328px;
	margin-inline: auto;
}

.content-spacing {
	display: flex;
	flex-direction: column;
	gap: var(--gap-m);

	padding-bottom: var(--gap-l);
}

.header {
	display: flex;
	flex-direction: row;

	padding: var(--gap-m) 0 var(--gap-l) 0;
	gap: var(--gap-s);
}

.header__link {
	color: var(--clr-text--faded);
}

.header__focus {
	font-weight: var(--fw-bold);
}

.content-section {
	display: flex;
	flex-direction: column;
	gap: var(--gap-s);
}

.build__list,
.post__list {
	display: flex;
	flex-direction: column;
	gap: var(--gap-s);

	list-style: none;

	padding: 0;
}

.build__card {
	display: flex;
	justify-content: space-between;

	padding: var(--gap-s);
	border-radius: var(--border-radius);
	background-color: var(--clr-menu-background);
}

.post__item {
	display: flex;
	flex-direction: column;
}

.post__title {
	max-width: 24ch;
	overflow: hidden;

	font-weight: var(--fw-bold);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post__info {
	color: var(--clr-text--faded);
}