@import url("reset.css");
@import url("menu.css");

:root {
	--gap-xs: 0.5em;
	--gap-sm: 1em;
	--gap-md: 2em;
	--gap-lg: 3em;
	--gap-xl: 6em;

	--fw-regular: 400;
	--fw-bold: 900;

	--border-radius: 0.5em;

	--clr-primary: #0F6EFC;
	--clr-neutral-50: #F1F6F9;
	--clr-neutral-100: #D3D7DB;
	--clr-neutral-400: #7A7C83;
	--clr-neutral-700: #3F3F48;
	--clr-neutral-800: #12111C;
	--clr-neutral-900: #03010D;

	--clr-text--primary: var(--clr-neutral-50);
	--clr-text--muted: var(--clr-neutral-400);
	
	--clr-icon--primary: var(--clr-neutral-50);
	--clr-icon--muted: var(--clr-neutral-400);

	--clr-background: var(--clr-neutral-800);
	--clr-menu-background: var(--clr-neutral-900);
	--clr-card-background: var(--clr-neutral-900);
}

/* @media (prefers-color-scheme: light) {
	:root {

	}
} */

body {
	overflow-x: hidden;
	background-color: var(--clr-background);
	color: var(--clr-text--primary);
}

iframe {
	width: 100%;
	aspect-ratio: 16/9;
}

.link--primary {
	text-decoration: none;
	color: var(--clr-text--primary);
}

.link--title {
	text-decoration: none;
	font-weight: var(--fw-bold);
	color: var(--clr-text--primary);
}

.text--muted {
	text-decoration: none;
	font-weight: var(--fw-bold);
	color: var(--clr-text--primary);
}

.content-wrapper {
	display: flex;
	flex-direction: column;

	overflow-x: hidden;

	width: 342px;
	margin-inline: auto;
}

.content-spacing {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);

	padding-bottom: var(--gap-lg);
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: var(--gap-md) 0 var(--gap-lg) 0;
	gap: var(--gap-sm);
}

.header__link {
	color: var(--clr-text--muted);
}

.header__focus {
	font-weight: var(--fw-bold);
}

.content-section {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
}

.build__list,
.post__list {
	display: flex;
	flex-direction: column;

	list-style: none;

	padding: 0;
}

.post__list {
	gap: var(--gap-md);
}

.build__list {
	gap: var(--gap-sm);
}

.build__card {
	display: flex;
	justify-content: space-between;

	padding: var(--gap-sm);
	border-radius: var(--border-radius);
	background-color: var(--clr-menu-background);
}

.post__item {
	display: flex;
	flex-direction: column;
}

.blog-post-card {
	display: flex;
	flex-direction: column;
}

.blog-post__title {
	display: flex;
	align-items: center;
	gap: var(--gap-sm);

	max-width: 24ch;
	overflow: hidden;

	font-weight: var(--fw-bold);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post__info {
	color: var(--clr-text--muted);
}

@media screen and (min-width: 720px) {
	.content-wrapper {
		width: 500px;
	}
}