/*  Josh's Custom CSS Reset
    https://joshwcomeau.com/css/custom-css-reset/ 
    version: 2024-11-25
*/
:root {
	--gap-s: 1em;
	--gap-m: 3em;
	--gap-l: 6em;

	--clr-test: #00ff00; 
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Component Classes */
.content-wrapper {
	display: flex;
	flex-direction: column;

	width: 328px;
	margin-inline: auto;
	padding: var(--gap-m) 0;
}

.menu__wrapper {
	row-gap: var(--gap-m);

	min-height: 100dvh;
}

.menu {
	position: fixed;
	display: flex;
	flex-direction: column;

	min-width: 100vw;
	min-height: 100vh;

	background-color: #000000;

	overflow-x: hidden;
}

.rollygon-text {
	display: flex;
	align-self: center;
}

.menu__nav {
	margin-top: auto;
}

.menu__link {
	display: flex;
	flex-direction: row;
	align-items: center;

	font-weight: 700;
}

.link__handle {
	margin-inline-start: 0.5em;
}

.link__arrow-icon {
	margin-inline-start: auto;
}

.menu__button {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

	content: "";

	bottom: var(--gap-m);
	right: var(--gap-m);

	color: white;
	z-index: 999;
}

.menu__button__toggle {
	width: var(--gap-l);
	height: var(--gap-l);

	padding: 0;
	border-radius: 50px;
	border: none;

	background-color: blue;

	outline: none;
	appearance: none;
}

.menu__button:has(.menu__button__toggle:checked) #menu-icon {
	transition-delay: 0.15s;
	rotate: -0.25turn;
}

.menu__button:has(.menu__button__toggle:checked) #menu-icon__path-a {
	transition-delay: 0.1s;
	stroke-dashoffset: -142;
}

.menu__button:has(.menu__button__toggle:checked) #menu-icon__path-b {
	transition-delay: 0.4s;
	stroke-dashoffset: -132;
}

#menu-icon {
	position: absolute;
	pointer-events: none;
	transition: 0.4s ease-in-out;
}

.menu-icon__path {
	transition: 0.8s ease-in-out;

	stroke-width: 2px;
	stroke: white;
	stroke-dasharray: 24 1000;
}
