---
import ImageWrapper from "@/ui/ImageWrapper.astro";
import InfoBanner from "@/ui/InfoBanner.astro";
import ContactLinks from "@/components/ContactLinks.astro";
---

<div class="flex flex-col gap-8 w-fit">
	<ImageWrapper size="sm" shape="round" aspect="1/1" placeholder />
	<InfoBanner />
	<p>I'm Rolly (rhymes with "jolly"), and I make roller coasters out of polygons.</p>
	<ContactLinks />
</div>
