---
import ImageWrapper from "@/ui/ImageWrapper.astro";
import InfoBanner from "@/ui/InfoBanner.astro";
import ContactLinks from "@/components/ContactLinks.astro";
---

<div class="flex flex-col gap-8 w-fit">
	<div class="relative flex flex-col mb-24">
		<ImageWrapper size="md" shape="round" aspect="1/1" placeholder />
		<div class="absolute top-2 rotate-4"><InfoBanner /></div>
		<div class="absolute -bottom-22 flex flex-col gap-2 bg-surface border-lg shadow-lg p-4">
			<p>I'm Rolly (rhymes with "jolly"), and I make roller coasters out of polygons.</p>
			<ContactLinks socials />
		</div>
	</div>
</div>

<style>
	h2 {
		position: relative;
		z-index: 0;
		text-shadow:
			0 0 1em var(--color-surface-primary),
			0 0 1em var(--color-surface-primary),
			0 0 1em var(--color-surface-primary);

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background-image: url("/backgrounds/bg-5.png");
			opacity: 0.1;
			z-index: -1;
		}
	}
</style>
