---
import Image from "@/ui/Image.astro";
import InfoBanner from "@/ui/InfoBanner.astro";
import ContactLinks from "@/components/ContactLinks.astro";
---

<section class="flex flex-col gap-8 w-1/2">
    <Image size="sm" shape="round" aspect="1/1" placeholder />
    <InfoBanner />
    <p>I'm Rolly (rhymes with "jolly"), and I make roller coasters out of polygons.</p>
    <ContactLinks />
</section>