---
import Link from "@/ui/Link.astro";
import SiteTitle from "@/components/SiteTitle.astro";
---

<footer class="mt-auto w-full border-t-2">
	<nav class="wrapper flex gap-16 py-16">
		<div class="flex flex-col gap-2">
			<SiteTitle />
		</div>
		<div class="grid grid-cols-4 gap-4 w-full">
			<ul>
				<li><Link label="Home" href="/" underline /></li>
				<li><Link label="About" href="/about" underline /></li>
			</ul>
			<ul>
				<li><Link label="All Models" href="/models" underline /></li>
				<li><Link label="Coaster Models" href="/tags/coaster" underline /></li>
				<li><Link label="Coaster Element Models" href="/tags/element" underline /></li>
			</ul>
			<ul>
				<li><Link label="All Tools" href="/tools" underline /></li>
				<li><Link label="Track Generation Tools" href="/tags/track-gen" underline /></li>
				<li>
					<Link label="Support Generation Tools" href="/tags/support-gen" underline />
				</li>
				<li><Link label="Utility Nodes" href="/tags/utility-nodes" underline /></li>
			</ul>
			<ul>
				<li><Link label="All Blog Posts" href="/blog" underline /></li>
				<li><Link label="Guides" href="/tags/guide" underline /></li>
			</ul>
		</div>
	</nav>
	<div class="flex justify-center items-center py-4 bg-neutral-900 text-neutral-50">
		<small>Copyright &copy;<span id="footer-date"></span> Rollygon, All rights reserved.</small>
	</div>
</footer>

<script>
	const footerDate = document.querySelector("#footer-date");

	if (footerDate !== null) {
		footerDate.innerHTML = new Date().getFullYear().toString();
	}
</script>

<style>
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
</style>
