---
import Button from "@/ui/Button.astro";
import Link from "@/ui/Link.astro";
import SiteTitle from "@/components/SiteTitle.astro";

const currentPath = new URL(Astro.request.url).pathname;

function toggleActiveLink(label: string): "page" | "false" {
	if (currentPath === label) {
		return "page";
	}

	return "false";
}
---

<header id="header" class:list={["max-sm:py-4"]}>
	<nav class="relative wrapper flex items-center justify-between">
		<SiteTitle />
		<ul
			id="site-navigation"
			class:list={[
				"max-sm:hidden max-sm:absolute max-sm:items-start max-sm:top-18 max-sm:right-3 max-sm:card-lg",
			]}
		>
			<li>
				<Link label="Home" href="/" isActive={toggleActiveLink("/")} />
			</li>
			<li>
				<Link label="Models" isActive={toggleActiveLink("/models")} />
			</li>
			<li>
				<Link label="Tools" isActive={toggleActiveLink("/tools")} />
			</li>
			<li>
				<Link label="Posts" isActive={toggleActiveLink("/posts")} />
			</li>
			<li>
				<Link label="About" isActive={toggleActiveLink("/about")} />
			</li>
			<li class="flex gap-2 max-sm:hidden">
				<Button label="Get Tools" href="/tools" icon="download" primary />
				<Button id="theme-toggle-button" label="Toggle Theme" icon="theme-toggle" type="toggle" iconOnly />
			</li>
		</ul>
		<Button id="menu-toggle-button" class:list={["hidden", "max-sm:flex"]} label="Menu" icon="none" type="toggle" />
	</nav>
</header>

<style>
	#header {
		position: sticky; 
		inset: 0;
		z-index: 10;

		padding-block: var(--space-2);
		border-bottom: var(--border);
		background: var(--bg-light);

		&:has(#menu-toggle-button label input:checked) #site-navigation {
			display: flex;
		}
	}

	#site-navigation {
		display: flex;
		align-items: center;
		gap: var(--space-8);
	}
</style>
