---
import Button from "@/ui/Button.astro";
import Link from "@/ui/Link.astro";
import SiteTitle from "@/components/SiteTitle.astro";
import SiteBanner from "../SiteBanner.astro";

const currentPath = new URL(Astro.request.url).pathname;

function toggleActiveLink(label: string): "page" | "false" {
	if (currentPath === label) {
		return "page";
	}

	return "false";
}
---

<header id="header">
	<nav class="wrapper">
		<SiteTitle />
		<ul id="site-navigation">
			<li>
				<Link label="Home" href="/" isActive={toggleActiveLink("/")} />
			</li>
			<li>
				<Link label="Models" isActive={toggleActiveLink("/models")} />
			</li>
			<li>
				<Link label="Tools" isActive={toggleActiveLink("/tools")} />
			</li>
			<li>
				<Link label="Posts" isActive={toggleActiveLink("/posts")} />
			</li>
			<li>
				<Link label="About" isActive={toggleActiveLink("/about")} />
			</li>
			<li class="row-sm">
				<Button label="Get Tools" href="/tools" icon="download" primary />
				<Button id="theme-toggle-button" label="Toggle Theme" icon="theme-toggle" type="toggle" iconOnly />
			</li>
		</ul>
	</nav>
	<div id="site-banner" class="center">
		<strong>This site is currently only available on the desktop version!</strong>
	</div>
</header>

<style>
	#site-banner {
		padding-block: var(--space-2);
		background: var(--error-bg);
	}

	#header {
		position: sticky;
		inset: 0;
		z-index: 10;

		border-bottom: var(--border);
		background: var(--bg-light);

		/* &:has(#menu-toggle-button label input:checked) #site-navigation {
			display: flex;
		} */
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		padding-block: var(--space-2);

		ul li {
			list-style: none;
		}
	}

	#site-navigation {
		display: flex;
		align-items: center;
		gap: var(--space-8);
	}
</style>
