---
import Button from "@/ui/Button.astro";
import Link from "@/ui/Link.astro";
import SiteTitle from "@/components/SiteTitle.astro";
import type { TopLevelPage } from "@/layouts/SiteLayout.astro";
import { undefined } from "astro:schema";

interface Props {
	topLevelPages: Array<TopLevelPage>;
}

const currentPath = new URL(Astro.request.url).pathname;
const { topLevelPages } = Astro.props;

function toggleActiveLink(label: string): "page" | "false" {
	if (currentPath === label) {
		return "page";
	}

	return "false";
}

function returnPage(input: TopLevelPage["title"]): TopLevelPage {
	const page = topLevelPages.find((page) => page.title === input);

	if (page) {
		return page;
	}

	return topLevelPages[0];
}
---

<header class="bg-[var(--color-surface-primary)] border-bottom sticky top-0 w-full z-10">
	<nav class="wrapper flex items-center justify-between py-6">
		<SiteTitle />
		<ul class="flex items-center gap-8">
			<li>
				<Link
					label={returnPage("Home").title}
					href={returnPage("Home").href}
					isActive={toggleActiveLink(returnPage("Home").href)}
				/>
			</li>
			<li>
				<Link
					label={returnPage("Tools").title}
					isActive={toggleActiveLink(returnPage("Tools").href)}
				/>
			</li>
			<li>
				<Link
					label={returnPage("Models").title}
					isActive={toggleActiveLink(returnPage("Models").href)}
				/>
			</li>
			<li>
				<Link
					label={returnPage("Articles").title}
					isActive={toggleActiveLink(returnPage("Articles").href)}
				/>
			</li>
			<li>
				<Link
					label={returnPage("About").title}
					isActive={toggleActiveLink(returnPage("About").href)}
				/>
			</li>
			<li>
				<Button label="Get free tools" href="/tools" icon="download" />
			</li>
		</ul>
	</nav>
</header>
