---
import Button from "@/ui/Button.astro";
import Link from "@/ui/Link.astro";
import SiteTitle from "@/components/SiteTitle.astro";

const currentPath = new URL(Astro.request.url).pathname;

function toggleActiveLink(label: string): "page" | "false" {
	if (currentPath === label) {
		return "page";
	}

	return "false";
}
---

<header class="bg-white border-bottom sticky top-0 w-full z-10">
	<nav class="wrapper flex items-center justify-between py-6">
		<SiteTitle />
		<ul class="flex items-center gap-8">
			<li>
				<Link label="Home" href="/" isActive={toggleActiveLink("/")} />
			</li>
			<li>
				<Link label="Models" isActive={toggleActiveLink("/models")} />
			</li>
			<li>
				<Link label="Tools" isActive={toggleActiveLink("/tools")} />
			</li>
			<li>
				<Link label="Blog" isActive={toggleActiveLink("/blog")} />
			</li>
			<li>
				<Link label="About" isActive={toggleActiveLink("/about")} />
			</li>
			<li>
				<Button label="Get free tools" href="/tools" icon="download" primary />
			</li>
		</ul>
	</nav>
</header>
