---
import Button from "@/ui/Button.astro";
import Link from "@/ui/Link.astro";
import SiteTitle from "@/components/SiteTitle.astro";

const currentPath = new URL(Astro.request.url).pathname;

function toggleActiveLink(label: string): "page" | "false" {
	return currentPath === label ? "page" : "false";
}
---

<header id="header">
	<div id="site-navigation" class="wrapper">
		<SiteTitle />
		<nav>
			<ul id="navigation-links">
				<li>
					<Link label="Home" href="/" isActive={toggleActiveLink("/")} />
				</li>
				<li>
					<Link label="Models" isActive={toggleActiveLink("/models")} />
				</li>
				<li>
					<Link label="Tools" isActive={toggleActiveLink("/tools")} />
				</li>
				<li>
					<Link label="Posts" isActive={toggleActiveLink("/posts")} />
				</li>
				<li>
					<Link label="About" isActive={toggleActiveLink("/about")} />
				</li>
				<li class="row-sm">
					<Button label="Get Tools" href="/tools" icon="download" primary />
					<Button id="theme-toggle-button" label="Toggle Theme" icon="theme-toggle" type="toggle" iconOnly />
				</li>
			</ul>
			<ul id="display-menu-toggle">
				<Button label="Menu" id="menu-toggle-button" type="toggle" icon="menu" small iconOnly/>
			</ul>
		</nav>
	</div>
</header>

<style>
	#navigation-links {
		display: flex;
		align-items: center;
		gap: var(--space-8);

		list-style: none;
		width: fit-content;
	}

	#header {
		position: sticky;
		inset: 0;
		z-index: 10;

		width: 100%;
		padding-block: var(--space-2);
		border-bottom: var(--border);
		background: var(--bg-light);

		container: header / inline-size;
	}

	#header:has([data-is-checked="true"]) #navigation-links {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		inset: 0;

		width: 100dvw;
		height: 100dvh;
		background: var(--bg-light);
		z-index: -1;

		& li:last-child {
			flex-direction: column;
			align-items: center;
			gap: var(--space-8);
		}
	}

	html:has([data-is-checked="true"]) {
		overflow: hidden;
	}

	#site-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#display-menu-toggle {
		display: none;
	}

	@container header (max-width: 860px) {
		#navigation-links {
			display: none;
		}

		#display-menu-toggle {
			display: block;
		}
	}
</style>
