{% macro menu_link(link_title, link_url, link_alt_text, is_external) %}
<a class="menu__link" href="{{ link_url }}">
    {{ link_title }}
    {% if link_alt_text %}
        <span class="link__handle">{{ link_alt_text }}</span>
    {% endif %}
    {% if is_external %}
        <img class="link__arrow-icon" src="/assets/img/arrow-icon.svg" alt="" />
    {% endif %}
</a>
{% endmacro %}