---
import BlogPostCard from "@/components/BlogPostCard.astro";
import ContentCard from "@/components/ContentCard.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import ModelCard from "@/components/ModelCard.astro";
import SearchBar from "@/components/SearchBar.astro";
import ToolCard from "@/components/ToolCard.astro";
import Link from "@/components/ui/Link.astro";
import { type Collection, ALL_POSTS, ALL_CONTENT, ALL_MODELS, ALL_TOOLS } from "@/content/config";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { slugify, titleCase } from "@/scripts/utilities";

export async function getStaticPaths() {
	const parameters = ALL_CONTENT.map((content) =>
		content.data.tags.map((tag) => ({
			params: {
				tag: 4,
				slug: slugify(tag),
			},
			content: content,
			props: { content },
		})),
	).flat();
	return parameters;
}

const { slug } = Astro.params;
const dataList = ALL_CONTENT.filter((content) => content.data.tags.includes(getFileSlug(slug)));
const tagName = dataList.map((content) =>
	content.data.tags.find((tag) => tag === getFileSlug(slug)),
)[0];

function getFileSlug(input: string): string {
	const exceptions = [{ title: "B&M", slug: "bm" }];
	const exception = exceptions.find((exception) => exception.slug);

	if (input === exception?.slug) {
		return "B&M";
	}

	return titleCase(input);
}

function checkIfTrue(list: Array<Collection>): boolean {
	return list
		.map((content) => content.data.tags.map((tag) => slugify(tag).includes(slug)))
		.flat()
		.includes(true);
}
---

<SiteLayout
	pageTitle={"Tag: #" + tagName}
	description={"Loading content tagged with #" + tagName}
	color="neutral"
	pattern="3"
>
	<PageTitle heading={"Tag: #" + tagName} />
	<SearchBar />
	{
		checkIfTrue(ALL_MODELS) && (
			<div class="flex flex-col gap-8">
				<h2 id="models">Models</h2>
				<div class="grid grid-cols-2 gap-8">
					{ALL_MODELS.map((content) => {
						return (
							content.data.tags.find((tag) => slugify(tag) === slug) && (
								<ModelCard model={content} />
							)
						);
					})}
				</div>
			</div>
		)
	}
	{
		checkIfTrue(ALL_TOOLS) && (
			<div class="flex flex-col gap-8">
				<h2 id="tools">Tools</h2>
				<div class="flex flex-col gap-8">
					{ALL_TOOLS.map((content) => {
						return (
							content.data.tags.find((tag) => slugify(tag) === slug) && (
								<ContentCard type="tool" {content} />
							)
						);
					})}
				</div>
			</div>
		)
	}
	{
		checkIfTrue(ALL_POSTS) && (
			<div class="flex flex-col gap-8">
				<h2 id="articles">Articles</h2>
				<div class="flex flex-col gap-8">
					{ALL_POSTS.map((content) => {
						return (
							content.data.tags.find((tag) => slugify(tag) === slug) && (
								<ContentCard type="post" {content} />
							)
						);
					})}
				</div>
			</div>
		)
	}
</SiteLayout>
