---
import Card from '@/components/ui/Card.astro';
import SiteLayout from '@/layouts/SiteLayout.astro';
---

<SiteLayout pageTitle="Home">
    <section id="tools" class="wrapper flex flex-col gap-4 py-16">
        <h2 class="heading-md">Heading</h2>
        <div class="flex gap-8 w-full">
            <Card
            title="Card Title"
            description="A description of the bundle, the included add-ons, and more."
            href="/"
            type="bundle" />
            <Card
            title="Card Title"
            description="A description of the bundle, the included add-ons, and more."
            type="bundle"
            href="/" />
            <Card
            title="Card Title"
            description="A description of the bundle, the included add-ons, and more."
            type="bundle"
            href="/" />
        </div>
    </section>
</SiteLayout>
