---
import { SITE_HEADING } from "@/scripts/constants";
import { LATEST_MODELS, LATEST_POSTS, LATEST_TOOLS } from "@/content/config";

import AboutSection from "@/components/layout/AboutSection.astro";
import Button from "@/components/ui/Button.astro";
import Link from "@/ui/Link.astro";
import SearchBar from "@/components/SearchBar.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import ModelCard from "@/components/ModelCard.astro";
import ContentCard from "@/components/ContentCard.astro";
---

<SiteLayout pageTitle="Home" color="blue" pattern="5">
	<div class="flex flex-col gap-8">
		<h1>{SITE_HEADING}</h1>
		<SearchBar />
	</div>
	<h2 data-shadow>Newest model</h2>
	<ModelCard model={LATEST_MODELS[0]} featured />
	<Link label="View all models" href="/models" underline />
	<div class="flex gap-16">
		<div class="flex flex-col gap-8">
			<h2 data-shadow>About me</h2>
			<div class="card-lg">
				<p>
					My name is Jay&mdash;but, you can call me Rolly (rhymes with "jolly")&mdash;and
					I make roller coasters out of polygons. I also build tools that make coaster
					manufacturer specific tracks, supports, etc. that help me create realistic
					coaster models.
				</p>
				<div class="flex gap-2">
					<Button label="Get to know me" href="/about" />
					<Button label="Send a message" href="mailto:message@rollygon.com" icon="send" />
				</div>
			</div>
		</div>
		<AboutSection />
	</div>

	<h2 data-shadow class="heading-md">Newst tools</h2>
	<div class="flex flex-col gap-8">
		{LATEST_TOOLS.map((tool) => <ContentCard type="tool" content={tool} />)}
	</div>
	<Link data-shadow label="View all tools" href="/tools" underline />

	<h2 data-shadow class="heading-md">Newest guides & updates</h2>
	<div class="flex flex-col gap-8">
		{LATEST_POSTS.map((post) => <ContentCard type="post" content={post} />)}
	</div>
	<Link data-shadow label="View all posts" href="/blog" underline />
</SiteLayout>
