---
import ArticleCard from "@/components/ArticleCard.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import Link from "@/ui/Link.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { FEATURED_MODEL, FEATURED_POSTS, FEATURED_TOOLS } from "@/scripts/constants";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import AssetCard from "@/components/AssetCard.astro";

---

<SiteLayout pageTitle="Home">
	<h1>Make roller coasters out of polygons</h1>
	<section class="column-md">
		<SectionTitle
			heading="Live 3D Model"
			headingSize="h2"
			subHeading="Click, drag, and scroll to interact"
			badgeLabel="LATEST"
			badgeStyle="primary"
		/>
		<FeaturedContent content={FEATURED_MODEL}/>
		<Link label="View all models" href="/models" underline />
	</section>
	<section class="column-md">
		<SectionTitle
			heading="Tools for Modeling"
			headingSize="h2"
			subHeading="All tools used to build the model above"
			badgeLabel="LATEST"
			badgeStyle="primary"
		/>
		<div class="row-md">
			{FEATURED_TOOLS.map((content) => <AssetCard {content} />)}
		</div>
		<Link data-shadow label="View all tools" href="/tools" underline />
	</section>
	<section class="column-md">
		<SectionTitle
			heading="Posts and Guides"
			headingSize="h2"
			subHeading="Guides for tools and process documentation"
			badgeLabel="FEATURED"
			badgeStyle="alt"
		/>
		<div class="column-md">
			{FEATURED_POSTS.map((content) => <ArticleCard {content} />)}
		</div>
		<Link data-shadow label="View all posts" href="/posts" underline />
	</section>
</SiteLayout>

<style>
	h1 {
		font-size: 6rem;
		line-height: 5.5rem;

		padding-block: var(--space-32);
	}
</style>
