---
import ContentCard from "@/components/ContentCard.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import Link from "@/ui/Link.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { FEATURED_MODEL, FEATURED_POSTS, FEATURED_TOOLS } from "@/scripts/constants";
import SectionTitle from "@/components/ui/SectionTitle.astro";

---

<SiteLayout pageTitle="Home">
	<section class="layout-sm">
		<SectionTitle heading="Hello, world!" headingSize="h1" />
	</section>
	<section class="layout-lg">
		<SectionTitle
			heading="Live 3D Model"
			headingSize="h2"
			subHeading="Click, drag, and scroll to interact"
			badgeLabel="LATEST"
			badgeStyle="primary"
		/>
		<FeaturedContent content={FEATURED_MODEL}/>
		<Link label="View all models" href="/models" underline />
	</section>
	<section class="layout-lg">
		<SectionTitle
			heading="Tool for Modeling"
			headingSize="h2"
			subHeading="All tool used to build the model above"
			badgeLabel="LATEST"
			badgeStyle="primary"
		/>
		<div class="layout-md mb-2">
			{FEATURED_TOOLS.map((content) => <ContentCard {content} />)}
		</div>
		<Link data-shadow label="View all tools" href="/tools" underline />
	</section>
	<section class="layout-sm">
		<SectionTitle
			heading="Posts and Guides"
			headingSize="h2"
			subHeading="Guides for tools and process documentation"
			badgeLabel="FEATURED"
			badgeStyle="alt"
		/>
		<div class="layout-md mb-2">
			{FEATURED_POSTS.map((content) => <ContentCard {content} />)}
		</div>
		<Link data-shadow label="View all posts" href="/posts" underline />
	</section>
</SiteLayout>
