---
import AboutSection from "@/components/layout/AboutSection.astro";
import Button from "@/components/ui/Button.astro";
import ContentCard from "@/components/ContentCard.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import Link from "@/ui/Link.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { FEATURED_MODEL, FEATURED_POSTS, FEATURED_TOOLS } from "@/scripts/constants";
---

<SiteLayout pageTitle="Home" color="blue" pattern="1">
	<section class="layout-sm">
		<h1>Welcome!</h1>
		<div class="flex gap-16">
			<div class="card-lg gap-4 h-fit">
				<p>
					My name is Jay&mdash;but, you can call me Rolly (rhymes with "jolly")&mdash;and
					I make roller coasters out of polygons. I also build tools that make coaster
					manufacturer specific tracks, supports, etc. that help me create realistic
					coaster models.
				</p>
				<div class="flex gap-2">
					<Button label="Get to know me" href="/about" />
					<Button
						class="max-sm:hidden"
						label="Send a message"
						href="mailto:message@rollygon.com"
						icon="send"
					/>
				</div>
			</div>
			<AboutSection class="max-sm:hidden" photo />
		</div>
	</section>

	<section class="layout-sm">
		<h2 data-shadow>Featured model</h2>
		<FeaturedContent content={FEATURED_MODEL} />
		<Link label="View all models" href="/models" underline />
	</section>
	<section class="layout-sm">
		<h2 data-shadow class="heading-md">Featured tools</h2>
		<div class="layout-md mb-2">
			{FEATURED_TOOLS.map((content) => <ContentCard {content} />)}
		</div>
		<Link data-shadow label="View all tools" href="/tools" underline />
	</section>
	<section class="flex flex-col gap-4">
		<h2 data-shadow class="heading-md">Featured posts</h2>
		<div class="layout-md mb-2">
			{FEATURED_POSTS.map((content) => <ContentCard {content} />)}
		</div>
		<Link data-shadow label="View all posts" href="/posts" underline />
	</section>
</SiteLayout>
