---
import { SITE_HEADING } from "@/scripts/constants";
import { ALL_MODELS, LATEST_POSTS, LATEST_TOOLS } from "@/content/config";

import AboutSection from "@/components/layout/AboutSection.astro";
import Button from "@/components/ui/Button.astro";
import ContentCard from "@/components/ContentCard.astro";
import FeaturedContent from "@/components/FeaturedContent.astro";
import Link from "@/ui/Link.astro";
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout pageTitle="Home" color="blue" pattern="1">
	<section class="flex flex-col gap-4">
		<h1>{SITE_HEADING}</h1>
		<div class="flex gap-16">
			<div class="card-lg gap-4 h-fit">
				<p>
					My name is Jay&mdash;but, you can call me Rolly (rhymes with "jolly")&mdash;and
					I make roller coasters out of polygons. I also build tools that make coaster
					manufacturer specific tracks, supports, etc. that help me create realistic
					coaster models.
				</p>
				<div class="flex gap-2">
					<Button label="Get to know me" href="/about" />
					<Button label="Send a message" href="mailto:message@rollygon.com" icon="send" />
				</div>
			</div>
			<AboutSection photo />
		</div>
	</section>

	<section class="flex flex-col gap-4">
		<h2 data-shadow>Newest model</h2>
		<FeaturedContent content={ALL_MODELS[4]} />
		<Link label="View all models" href="/models" underline />
	</section>
	<section class="flex flex-col gap-4">
		<h2 data-shadow class="heading-md">Newst tools</h2>
		<div class="flex flex-col gap-8 mb-2">
			{LATEST_TOOLS.map((content) => <ContentCard {content} />)}
		</div>
		<Link data-shadow label="View all tools" href="/tools" underline />
	</section>
	<section class="flex flex-col gap-4">
		<h2 data-shadow class="heading-md">Newest posts</h2>
		<div class="flex flex-col gap-8 mb-2">
			{LATEST_POSTS.map((content) => <ContentCard {content} />)}
		</div>
		<Link data-shadow label="View all posts" href="/posts" underline />
	</section>
</SiteLayout>
