---
import { setImageSrc } from "@/scripts/utilities";
import { type Collection } from "@/content/config";

interface Props {
	content: Collection;
}

const { content } = Astro.props;
---

<div class="content-card-image border" style={`--content-image: url("${setImageSrc(content)}")`}>
    <div aria-label={content.data.title} class="bg-image"></div>
</div>

<style>
    .content-card-image {
        overflow: clip;
        position: absolute;
        top: var(--padding-sm);
        right: var(--padding-sm);

        min-width: 162px;
        height: calc(100% - calc(var(--padding-sm) * 2));

        border-radius: 0.5em;
        border-top-right-radius: var(--radius-md);
        border-bottom-right-radius: var(--radius-md);

        transition: var(--content-hover-speed) var(--content-hover-easing);

        @media only screen and (max-width: 680px) {
            display: none;
        }
    }

    .bg-image {
        height: 100%;
        background-image: var(--content-image);
        background-size: cover;
        background-position: center;

        opacity: 0.9;
        transform: scale(1);
        transition: var(--content-hover-speed) var(--content-hover-easing);
    }
</style>