---
import Link from "@/ui/Link.astro";
import Icon from "@/ui/Icon.astro";
---

<div class="flex flex-col gap-1">
    <p class="flex gap-2 items-center"><Icon name="compass" />Sacramento, CA</p>
    <Link label="example@email.com" href="mailto:" iconLeft="email" underline />
    <div class="flex gap-4 mt-2">
        <a data-icon-fill aria-label="gumroad" href="https://rollygon.gumroad.com/">
            <Icon name="gumroad" size="24" />
        </a>
        <a data-icon-fill aria-label="sketchfab" href="https://sketchfab.com/Rollygon/">
            <Icon name="sketchfab" size="24" />
        </a>
        <a data-icon-fill aria-label="bluesky" href="https://bsky.app/profile/rollygon.bsky.social">
            <Icon name="bluesky" size="24" />
        </a>
        <a data-icon-fill aria-label="youtube" href="https://www.youtube.com/@Rollygon/">
            <Icon name="youtube" size="24" />
        </a>
    </div>
</div>
