---
import Icon from "./Icon.astro";
import Link from "./Link.astro";
import SiteTitle from "./SiteTitle.astro";
---

<footer class="mt-auto border-top w-full bg-[var(--color-surface-primary)]">
    <nav class="wrapper grid grid-cols-4 gap-4  m-auto py-12">
        <ul>
            <li><SiteTitle /></li>
            <li><span class="flex items-center gap-2"><Icon name="compass" />Sacramento, CA</span></li>
            <li>
                <Link
                label="example@email.com"
                href="mailto:"
                icon="email"
                underline />
            </li>
        </ul>
        <ul>
            <li><strong class="heading-sm">Heading</strong></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
        </ul>
        <ul>
            <li><strong class="heading-sm">Heading</strong></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
        </ul>
        <ul>
            <li><strong class="heading-sm">Heading</strong></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
            <li><Link label="Example Link" href="/" underline /></li>
        </ul>
    </nav>
    <div class="flex justify-center items-center py-4 bg-[var(--color-neutral-800)] text-neutral-50">
        <span>Copyright &copy;</span><span id="footer-date" class="mr-1"></span><span>Rollygon, All rights reserved.</span>
    </div>
</footer>

<script>
const footerDate = document.querySelector("#footer-date");

if (footerDate !== null) {
    footerDate.innerHTML = new Date().getFullYear().toString();
}
</script>

<style>
ul  {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
</style>