---
import TagList from "@/components/TagList.astro";
import Button from "@/ui/Button.astro";
import { ALL_TAGS } from "@/content/config";
---

<div id="search-bar" class="flex flex-col justify-between gap-4 border-lg shadow-lg p-4 bg-white">
	<nav class="flex justify-between gap-2">
		<Button id="filter-tag-button" label="All tags" icon="drop-down" type="toggle" />
		<div class="flex gap-2">
			<form action="">
				<input
					type="search"
					name="search"
					id="search"
					style={{ "--search-width": `${360 - 16}px` }}
					class:list={[
						"flex gap-1 border-sm pl-2 pr-8 py-2 w-full max-w-(--search-width)",
						"max-sm:w-fill",
					]}
					placeholder="Search"
					disabled
					min="2"
					max="32"
					required
				/>
			</form>
			<Button icon="search" type="submit" disabled />
		</div>
	</nav>
	<div id="search-tag-list">
		<TagList tags={ALL_TAGS} />
	</div>
</div>

<style>
	#search-tag-list {
		display: none;
	}

	#search-bar:has(nav form label input:checked) > #search-tag-list {
		display: block;
	}

	input[type="search"][disabled] {
		color: var(--color-disabled-body);
		background-color: var(--color-disabled-bg);
	}
</style>
