---
import Icon from "@/ui/Icon.astro";
import Link from "@/ui/Link.astro";

interface Props {
	searchLinks?: Array<{ label: string; href: string }>;
}

const defaultSearchLinks = [
	{ label: "Coasters", href: "/tags/coaster" },
	{ label: "Guides", href: "/tags/guide" },
];

const { searchLinks = defaultSearchLinks } = Astro.props;
---

<div class="flex items-center justify-between border-lg shadow-lg p-4 bg-white">
	<nav class="ml-2">
		<ul class="flex gap-8">
			{
				searchLinks.map((link) => (
					<li>
						<Link label={link.label} href={link.href} />
					</li>
				))
			}
		</ul>
	</nav>
	<form action="">
		<div class="relative">
			<input
				type="search"
				name="search"
				id="search"
				style={{ "--search-width": 360 - 16 + "px" }}
				class="flex gap-1 border-sm pl-2 pr-8 py-1 w-(--search-width)"
				class="w-full"
				placeholder="Search tags"
				min="2"
				max="32"
				required
			/>
			<button type="submit" class="absolute top-2 right-2 cursor-pointer">
				<Icon name="search" />
			</button>
		</div>
	</form>
</div>

<style>
	/* #search {
		&:has(input:focus) {
			outline: solid 1px blue;
		}

		& > input {
			outline: none;
		}
	} */
</style>
