---
import type { MarkdownHeading } from "astro";
import AboutSection from "@/layout/AboutSection.astro";
import TableOfContents from "@/ui/TableOfContents.astro";
import ReadTimeIndicator from "@/ui/ReadTimeIndicator.astro";
import type { Collection } from "@/content/config";

interface Props {
    headings: Array<MarkdownHeading>;
    content: Collection;
}

const { headings, content } = Astro.props;
---

<aside class="flex flex-col gap-8 w-[360px]">
    <AboutSection />
    {
        headings.length > 1 && (
            <div data-toc class="sticky top-24 flex flex-col self-start gap-8 w-full">
                <hr />
                <TableOfContents {headings} />
                {
                    content.collection === "posts" && (
                        <hr />
                        <ReadTimeIndicator {content} />
                    )
                }
            </div>
        )
    }
</aside>