---
import type { MarkdownHeading } from "astro";
import TableOfContents from "@/ui/TableOfContents.astro";
import ReadTimeIndicator from "@/ui/ReadTimeIndicator.astro";
import type { Collection } from "@/content/config";
import type { HTML } from "@/scripts/constants";

interface Props extends HTML {
    headings: Array<MarkdownHeading>;
    content: Collection;
}

const { headings, content, class: className } = Astro.props;
---

<aside class={`column-md ${className}`}>
    {
        headings.length > 1 && (
            <div data-toc id="table-of-contents" class="column-md">
                <TableOfContents {headings} />
                {
                    content.collection === "posts" && (
                        <ReadTimeIndicator {content} />
                    )
                }
            </div>
        )
    }
</aside>

<style>
    aside {
        width: 100%;
    }
    
    #table-of-contents {
        position: sticky;
        top: var(--space-24);
    }
</style>