---
import Icon from "./ui/Icon.astro";
---

<a aria-label="Rollygon" href="/" class="flex items-center gap-2">
	<span
		class="flex items-center justify-center bg-[var(--color-lime)] border-2 shadow-sm rounded-full aspect-1/1 w-12"
	>
		<Icon name="logo" size="28" />
	</span>
	<strong class="font-[Benz_Grotesk] text-[1.5em]">Rollygon</strong>
</a>
