---
import { setStyles, Color, Pattern } from "@/scripts/interface";

interface props {
	label: string;
	bgColor: string;
}

const { label, bgColor } = Astro.props;
---

<div
	class="flex background-marquee justify-center py-4 bg-yellow border-bottom"
	style={setStyles("marquee", Color[bgColor], Pattern[6])}
>
	<strong>{label}</strong>
</div>
