---
interface Props {
	label: string;
}

const { label } = Astro.props;
---

<div id="site-banner" class="center">
	<strong class="text-(--neutral-5)">{label}</strong>
</div>

<style>
	#site-banner {
		
	}
</style>