---
import LogoFull from "@/ui/LogoFull.astro";
import { Color, Pattern, setStyles } from "@/scripts/interface";
import type { HTML } from "@/scripts/constants";

interface Props extends HTML {}

const { class: className } = Astro.props;
---

<a
	aria-label="Rollygon"
	href="/"
	class:list={["flex items-center gap-2", className]}
>
	<LogoFull color="var(--logo)" />
</a>

<style>
	[aria-label="Rollygon"] {
		--logo: var(--text);

		&:hover,
		&:focus {
			--logo: var(--text-muted);

			position: relative;
			overflow: hidden;
		}
	}
</style>
