---
import Icon from "@/ui/Icon.astro";

interface Props {
	title?: string;
	icon: string;
	href: string;
	rotation?: string;
}

function getTitle(input: string): string {
	return input.charAt(0).toUpperCase() + input.slice(1);
}

const { icon, title = getTitle(icon), href, rotation } = Astro.props;
---

<div
	data-social
	style={{ "--icon-rotation": rotation + "deg" }}
	class=`absolute rotate-(--icon-rotation) w-full aspect-square pointer-events-none`
>
	<a
		data-icon-fill
		class=`absolute card-sm rounded-full w-fit -rotate-(--icon-rotation) -top-8 pointer-events-auto`
		aria-label={title}
		title={title}
		href={href}
	>
		<span><Icon name={icon} size="28" /></span>
	</a>
</div>

<style>
	[data-icon-fill] {
		position: relative;
		overflow: hidden;

		&:hover,
		&:focus-visible {
			transform: translate(2px, 2px);
			box-shadow: 2px 2px 0;

			&::before {
				background-image: var(--bg-2);
				transform: scale(2);

				position: absolute;
				inset: 0;

				content: "";
				animation: button-marquee 5s linear infinite;
				opacity: 0.05;
			}
		}
	}
</style>
