---
import { calcTagCount } from "@/content/config";
import { slugify } from "@/scripts/utilities.ts";
import Tag from "@/ui/Tag.astro";

interface Props {
	tags: Array<string> | undefined;
	isArticle?: boolean;
}

const { tags, isArticle = false } = Astro.props;

function countTags(isArticle: typeof Astro.props.isArticle, tag: string): number {
	if (isArticle) {
		return calcTagCount(tag);
	}

	return calcTagCount(tag); // Adjust this to calc number for tools!
}
---

{
	tags && (
		<ul class="flex flex-wrap gap-1">
			{tags?.map((tag) => (
				<li>
					<a href={`/${slugify(tag)}`}>
						<Tag label={tag} count={countTags(isArticle, tag)} />
					</a>
				</li>
			))}
		</ul>
	)
}
