---
import { ALL_ARTICLES, ALL_MODELS, ALL_TOOLS } from "@/content/config";
import { slugify } from "@/scripts/utilities.ts";
import Tag from "@/ui/Tag.astro";

interface Props {
	tags: Array<string> | undefined;
	contentArray: typeof ALL_ARTICLES | typeof ALL_TOOLS | typeof ALL_MODELS;
}

const { tags, contentArray } = Astro.props;

function calcTagCount(list: typeof Astro.props.contentArray, input: string): number {
	return list
		.map((article) => article.data.tags)
		.flat(2)
		.filter((match) => input === match).length;
}
---

{
	tags && (
		<ul class="flex flex-wrap gap-1">
			{tags.map((tag) => (
				<li>
					<a href={"/" + contentArray[0].collection + "/tag/" + slugify(tag)}>
						<Tag label={tag} count={calcTagCount(contentArray, tag)} />
					</a>
				</li>
			))}
		</ul>
	)
}
