---
import { ALL_CONTENT } from "@/content/config";
import type { HTML } from "@/scripts/constants";
import { slugify } from "@/scripts/utilities.ts";
import Tag from "@/ui/Tag.astro";

interface Props extends HTML {
	tags: Array<string> | undefined;
	filter?: boolean;
}

const { tags, filter = false, class: className } = Astro.props;

function calcTagCount(input: string): number {
	return ALL_CONTENT.map((post) => post.data.tags)
		.flat(2)
		.filter((match) => input === match).length;
}
---

<ul class:list={["flex flex-wrap gap-1", className]}>
	{
		tags?.map((tag) => (
			<li>
				{filter ? (
					<label>
						<input type="checkbox" class="hidden" />
						<Tag label={tag} count={calcTagCount(tag)} filter />
					</label>
				) : (
					<a href={"/tags/" + slugify(tag)}>
						<Tag label={tag} count={calcTagCount(tag)} />
					</a>
				)}
			</li>
		))
	}
</ul>

<style>
	label:has(input[type="checkbox"]:checked) {
		--tag-filter-color: var(--color-lime);
	}
</style>
