---
import { ALL_ARTICLES, ALL_TOOLS } from "@/content/config";
import { slugify } from "@/scripts/utilities.ts";
import Tag from "@/ui/Tag.astro";

interface Props {
	tags: Array<string> | undefined;
	contentArray: typeof ALL_ARTICLES | typeof ALL_TOOLS;
}

const { tags, contentArray } = Astro.props;

function calcTagCount(list: typeof ALL_ARTICLES | typeof ALL_TOOLS, input: string): number {
	return list
		.map((article) => article.data.tags)
		.flat(2)
		.filter((match) => input === match).length;
}
---

{
	tags && (
		<ul class="flex flex-wrap gap-1">
			{tags?.map((tag) => (
				<li>
					{contentArray === ALL_ARTICLES && (
						<a href={`/articles/tag/${slugify(tag)}`}>
							<Tag label={tag} count={calcTagCount(contentArray, tag)} />
						</a>
					)}
					{contentArray === ALL_TOOLS && (
						<a href={`/tools/tag/${slugify(tag)}`}>
							<Tag label={tag} count={calcTagCount(contentArray, tag)} />
						</a>
					)}
				</li>
			))}
		</ul>
	)
}
