---
import Icon from "@/ui/Icon.astro";
import Button from "@/ui/Button.astro";
import type { CollectionEntry } from "astro:content";
import { slugify } from "@/scripts/utilities";

interface Props {
	tool: CollectionEntry<"tools">;
}

const { tool } = Astro.props;
const { title, description } = tool.data;
---

<div class="flex flex-col border min-w-xs text-center">
	<div class="flex justify-center items-center py-16 border-b border-b-[var(--color-text-dim)]">
		<Icon name="tool" size="64" />
	</div>
	<div class="flex flex-col items-center gap-8 p-8">
		<h3 class="heading-sm">{title}</h3>
		<p>{description}</p>
		<Button label="Get tool" href={"/tools/" + slugify(title)} icon="download" />
	</div>
</div>
