---
interface Props {
	embed: string;
}

const { embed } = Astro.props;
---

<div class:list={["card-sm p-2 overflow-clip", "max-sm:p-0"]}>
	<iframe
		class="aspect-video rounded-sm"
		src={`https://www.youtube.com/embed/${embed}`}
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen></iframe>
</div>
