@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --color-*: initial;

    --color-zinc-50: oklch(98.5% 0 0);
    --color-zinc-100: oklch(95.7% 0.001 286.375);
    --color-zinc-200: oklch(92% 0.004 286.32);
    --color-zinc-300: oklch(87.1% 0.006 286.286);
    --color-zinc-400: oklch(70.5% 0.015 286.067);
    --color-zinc-500: oklch(55.2% 0.016 285.938);
    --color-zinc-600: oklch(44.2% 0.017 285.786);
    --color-zinc-700: oklch(37% 0.013 285.805);
    --color-zinc-800: oklch(27.4% 0.006 286.033);
    --color-zinc-900: oklch(21% 0.006 285.885);
    --color-zinc-950: oklch(14.1% 0.005 285.823);

    --color-brand-50: oklch(97.5% 0.031 135.3);
    --color-brand-100: oklch(94.9% 0.067 135.5);
    --color-brand-200: oklch(91.5% 0.127 135.7);
    --color-brand-300: oklch(87.4% 0.196 135.9);
    --color-brand-400: oklch(82.9% 0.238 136.1);
    --color-brand-500: oklch(78.8% 0.233 136.3);
    --color-brand-600: oklch(63.7% 0.232 136.5);
    --color-brand-700: oklch(50.3% 0.232 136.7);
    --color-brand-800: oklch(38.9% 0.232 136.9);
    --color-brand-900: oklch(26.8% 0.232 137.1);
    --color-brand-950: oklch(20.1% 0.232 137.3);
}

@theme {
    --color-brand: var(--color-brand-500);
    --color-brand-hover: var(--color-brand-400);

    /* Background colors */
    --color-base: var(--color-zinc-200);
    --color-primary: var(--color-zinc-50);
    --color-secondary: var(--color-zinc-100);

    --color-cta-primary: var(--color-brand);
    --color-cta-primary-hover: var(--color-brand-hover);
    --color-cta-secondary: var(--color-zinc-300);
    --color-cta-secondary-hover: var(--color-zinc-200);

    --color-link-hover: var(--color-zinc-100);

    /* Typography */
    --default-font-family: "Outfit";

    --color-cta-primary-text: var(--color-brand-800);

    --color-text: var(--color-zinc-950);
    --color-text-hover: color-mix(in oklch, currentColor 50%, transparent);

    /* General */
    --color-outline: var(--color-zinc-300);
    --radius-cta: 0.425rem;
    --radius-pill: 100vw;

    --padding-2xs: --spacing(1);
    --padding-xs: --spacing(2);
    --padding-sm: --spacing(4);
    --padding-md: --spacing(8);
    --padding-lg: --spacing(10);
    --padding-xl: --spacing(12);
}

[data-theme="dark"] {
    /* Background colors */
    --color-base: var(--color-zinc-900);
    --color-primary: var(--color-zinc-800);
    --color-secondary: var(--color-zinc-700);

    --color-cta-secondary: var(--color-zinc-700);
    --color-cta-secondary-hover: var(--color-zinc-600);

    --color-link-hover: var(--color-zinc-700);

    /* Typography */
    --color-text: var(--color-zinc-50);

    /* General */
    --color-outline: var(--color-zinc-700);
}

@layer base {
    body {
        color: var(--color-text);
    }
}

/* SITE WRAPPERS */
@utility site-grid {
    --col-width: 9rem;
    --gutter-width: 6rem;
    --gap: 3rem;

    display: grid;
    grid-template-columns:
        auto var(--gutter-width) repeat(6, var(--col-width))
        var(--gutter-width) auto;
    gap: var(--gap);
}

@utility grid-span-screen {
    grid-column: 1/11;
}

@utility grid-span-body {
    grid-column: 2/10;
}

@utility grid-span-content {
    grid-column: 3/9;
}

@utility grid-span-article {
    grid-column: 3/7;
}

@utility grid-span-sidebar {
    grid-column: 7/9;
}

@utility grid-span-left-gutter {
    grid-column: 2/3;
}

@utility grid-span-right-gutter {
    grid-column: 9/10;
}

@utility gutter-bg {
    --color: currentColor;
    --bg-size: 8px;
    --mask-amount: 75%;
    --intensity: 0.25;

    background-image:
        radial-gradient(var(--color) 1px, transparent 1px),
        radial-gradient(var(--color) 1px, transparent 1px);
    background-size: var(--bg-size) var(--bg-size);
    background-position:
        0 0,
        12px 12px;
    mask-image: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, var(--intensity)) 0%,
        rgba(0, 0, 0, 0) var(--mask-amount)
    );
    -webkit-mask-image: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, var(--intensity)) 0%,
        rgba(0, 0, 0, 0) var(--mask-amount)
    );
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

/* CONTENT WRAPPERS */
@utility card {
    gap: --spacing(8);
    padding: var(--padding-lg);
    background-color: var(--color-ui-secondary);
}

/* TYPOGRAPHY */
@utility prose-hero {
    @apply prose;

    a {
        text-decoration: none;
    }
}
