@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-brand-50: oklch(97.5% 0.031 135.3);
    --color-brand-100: oklch(94.9% 0.067 135.5);
    --color-brand-200: oklch(91.5% 0.127 135.7);
    --color-brand-300: oklch(87.4% 0.196 135.9);
    --color-brand-400: oklch(82.9% 0.238 136.1);
    --color-brand-500: oklch(78.8% 0.233 136.3);
    --color-brand-600: oklch(63.7% 0.232 136.5);
    --color-brand-700: oklch(50.3% 0.232 136.7);
    --color-brand-800: oklch(38.9% 0.232 136.9);
    --color-brand-900: oklch(26.8% 0.232 137.1);
    --color-brand-950: oklch(20.1% 0.232 137.3);

    /* Background colors */
    --color-base: var(--color-zinc-200);
    --color-primary: var(--color-zinc-50);
    --color-secondary: var(--color-zinc-100);

    --color-banner: var(--color-purple-600);
    --color-banner-hover: var(--color-purple-500);
    --color-banner-text: var(--color-zinc-50);

    --color-cta-primary: var(--color-brand);
    --color-cta-primary-hover: var(--color-brand-hover);
    --color-cta-secondary: var(--color-zinc-200);
    --color-cta-secondary-hover: var(--color-zinc-100);

    --color-cta-hover: color-mix(in oklch, currentColor 5%, transparent);

    /* Typography */
    --default-font-family: "Outfit";

    --color-cta-primary-text: var(--color-brand-900);

    --color-text: var(--color-zinc-950);

    /* General */
    --color-brand: var(--color-brand-500);
    --color-brand-hover: var(--color-brand-400);

    --color-error: var(--color-red-600);

    --color-cta-outline: color-mix(in oklch, currentColor 50%, transparent);
    --color-outline: color-mix(in oklch, currentColor 20%, transparent);

    --radius-cta: 0.4rem;
    --radius-element: calc(var(--radius-cta) + 1rem);
    --radius-pill: 100vw;

    --site-gap: --spacing(8);

    /* Gradients */
    --intensity: 0.25;
    --mask-amount: 75%;

    --radial-gradient: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 25%) 0%,
        rgba(0, 0, 0, 0) 75%
    );

    --card-gradient: linear-gradient(transparent 20%, black 100%);
}

[data-theme="dark"] {
    /* Background colors */
    --color-base: var(--color-zinc-900);
    --color-primary: var(--color-zinc-800);
    --color-secondary: var(--color-zinc-700);

    --color-cta-secondary: var(--color-zinc-600);
    --color-cta-secondary-hover: var(--color-zinc-500);

    --color-cta-hover: color-mix(in oklch, currentColor 10%, transparent);

    /* Typography */
    --color-text: var(--color-zinc-50);

    /* General */
    --color-error: var(--color-red-400);
}

@layer base {
    html {
        background-color: var(--color-banner);
    }

    body {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--site-gap);

        min-height: screen;

        color: var(--color-text);
        background-color: var(--color-base);
    }

    h1 {
        @apply text-6xl;
        font-weight: bold;
    }

    h2 {
        @apply text-4xl;
        font-weight: bold;
    }

    h3 {
        @apply text-2xl;
        font-weight: bold;
    }
}

@utility site-grid {
    --col-width: min(--spacing(48), 10%);
    --gutter-width: 6rem;

    display: grid;
    grid-template-columns:
        auto var(--gutter-width) repeat(6, var(--col-width))
        var(--gutter-width) auto;
    gap: var(--site-gap);
}

@utility gutter-bg {
    --bg-size: 8px;

    background-image:
        radial-gradient(var(--color, currentColor) 1px, transparent 1px),
        radial-gradient(var(--color, currentColor) 1px, transparent 1px);
    background-size: var(--bg-size) var(--bg-size);
    background-position:
        0 0,
        12px 12px;
    mask-image: var(--radial-gradient);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

@utility asset-gradient {
    --bg-size: 8px;
    --bg-pos: 12px;

    background-image:
        radial-gradient(var(--color, currentColor) 20%, transparent 40%),
        radial-gradient(var(--color, currentColor) 20%, transparent 40%);
    background-size: var(--bg-size) var(--bg-size);
    background-position:
        0 0,
        var(--bg-pos) var(--bg-pos);
    mask-image: var(--gradient, --radial-gradient);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

@utility eyebrow {
    display: flex;
    align-items: center;
    gap: --spacing(1.5);

    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: var(--tracking-wide);
    color: color-mix(in srgb, currentColor 50%, transparent 50%);

    & svg {
        width: --spacing(4);
    }
}

@utility lead {
    padding-bottom: --spacing(4);
    font-size: 1.325rem;
}
