---
layout: "/layouts/base.njk"
title: "Blog"
pagination:
    data: collections["blog post"]
    size: 5
    alias: blogPosts
    reverse: true
---
{% from "./_includes/components/blog-post-card.njk" import blogPostCard %}
{% from "./_includes/components/page-pagination.njk" import pagePagination %}
<ul class="post__list">
    {%- for blogPost in blogPosts -%}
    {{blogPostCard(blogPost)}}
    {%- endfor -%}
</ul>
{{pagePagination(pagination, collections["blog post"])}}
