---
layout: "/layouts/base.njk"
title: "Blog"
---
{% from "./_includes/components/blog-post-card.njk" import blogPostCard %}
<ul class="post__list">
    {%- for blogPost in collections["blog post"] | reverse -%}
    {{blogPostCard(blogPost)}}
    {%- endfor -%}
</ul>