---
layout: "/layouts/base.njk"
title: "Builds"
---
<ul class="build__list">
    {%- for build in collections.build | reverse -%}
    <li><a class="build__card link" href="{{ build.url }}">{{ build.data.title }}<span>{{build.data.status}}</span></a></li>
    {%- endfor -%}
</ul>
