---
layout: "/layouts/base.njk"
title: "Builds"
---
{% from "./_includes/components/build-card.njk" import buildCard %}

<ul class="build__list">
    {%- for build in collections.build | reverse -%}
    {{buildCard(build)}}
    {%- endfor -%}
</ul>