---
layout: "/layouts/base.njk"
title: "Builds"
pagination:
    data: collections.build
    size: 5
    alias: builds
    reverse: true
---
{% from "./_includes/components/build-card.njk" import buildCard %}
{% from "./_includes/components/page-pagination.njk" import pagePagination %}
<ul class="build__list">
    {%- for build in builds -%}
        {{buildCard(build)}}
    {%- endfor -%}
</ul>
{{pagePagination(pagination, collections.build)}}
