---
layout: "/layouts/base.njk"
title: "Home"
---

<span>Hayo, I make roller coasters out of polygons!</span>

<div>
    <a class="link" href="/builds">/ builds</a>
</div>
<div>
    <a class="link" href="/blog">/ blog</a>
</div>

