---
layout: "/layouts/base.njk"
title: "Home"
---
{% from "./_includes/components/build-card.njk" import buildCard %}
{% from "./_includes/components/blog-post-card.njk" import blogPostCard %}
<span>I make roller coasters out of polygons!</span>
<section class="content-section">
    <a href="/builds">Builds</a>
    <ul class="build__list">
        {%- for build in collections.build.reverse().slice(0, 3) -%}
        {{buildCard(build)}}
        {%- endfor -%}
    </ul>
</section>
<section class="content-section">
    <a href="/blog">Blog</a>
    <ul class="post__list">
        {%- for blogPost in collections["blog post"].reverse().slice(0, 3) -%}
        {{blogPostCard(blogPost)}}
        {%- endfor -%}
    </ul>
</section>
