{% include "nav-menu.css" %}
<div class="nav-menu">
	<ul class="external-link-list">
		<li class="external-link"><a href="">YouTube</a></li>
		<li class="external-link"><a href="">Sketchfab</a></li>
		<li class="external-link"><a href="">Bluesky</a></li>
		<li class="external-link"><a href="">Gumroad</a></li>
	</ul>
	<ul class="nav-link-list">
		<li class="nav-link"><a href="">home</a></li>
		<li class="nav-link"><a href="">builds</a></li>
		<li class="nav-link"><a href="">blog</a></li>
		<li class="nav-link"><a href="">about</a></li>
	</ul>
</div>
