---
import "@/styles/global.css";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ContactForm from "@/components/layout/ContactForm.astro";

interface Props {
	pageTitle: string;
	description?: string;
}

const { pageTitle, description = "Rollygon"} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg" href="/favicon.svg?" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
			rel="stylesheet"
		/>
		<title>Rollygon | {pageTitle}</title>
		<script type="module" defer>
			const systemTheme = window.matchMedia && window.matchMedia("(prefers-color-scheme: light").matches;
			const themeToggleButton = document.querySelector("#theme-toggle-button");
			const body = document.body;
			const lightMode = systemTheme === true;
			const defaultTheme = "dark";
			let selectedTheme = localStorage.getItem("theme");

			if (!selectedTheme) {
				localStorage.setItem("theme", lightMode ? "light" : "dark");
			}

			body.setAttribute("data-theme", selectedTheme || defaultTheme);
			themeToggleButton.addEventListener("click", toggleTheme);

			function toggleTheme() {
				selectedTheme = localStorage.getItem("theme");

				if (selectedTheme === "light") {
					localStorage.setItem("theme", "dark");
					body.setAttribute("data-theme", "dark");
					return;
				}

				localStorage.setItem("theme", "light");
				body.setAttribute("data-theme", "light");
			}
		</script>
	</head>
	<body data-theme>
		<Header />
		<main>
			<section id="site-body" class="wrapper column-lg">
				<slot />
				<ContactForm />
			</section>
		</main>
		<Footer />
	</body>
</html>
