---
import "@/styles/global.css";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { setStyles, Color, Pattern } from "@/scripts/interface";
import type { ColorName } from "@/scripts/interface";
import type { PatternName } from "@/scripts/interface";

interface Props {
	pageTitle: string;
	description?: string;
	color?: ColorName;
	pattern?: PatternName;
}

const { pageTitle, description = "Rollygon", color = "white", pattern = "none" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
			rel="stylesheet"
		/>
		<title>Rollygon | {pageTitle}</title>
	</head>
	<body class="flex flex-col min-h-full bg-surface">
		<Header />
		<main
			class="flex flex-col gap-16 background-marquee"
			style={setStyles("marquee", Color[color], Pattern[pattern])}
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>
