---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import "@/styles/global.css";

interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
--- 

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Rollygon | {pageTitle}</title>
	</head>
	<body class="flex flex-col min-h-full bg-surface">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	html {
		height: 100%;
	}
</style>
