---
import Icon from "@/ui//Icon.astro";

interface Props {
	size?: string;
	shape?: "rect" | "round";
	aspect?: "1/1" | "16/9";
	placeholder?: boolean;
}

const { size = "auto", shape = "rect", aspect = "16/9", placeholder = false } = Astro.props;

function calcRadius(border: string, input: typeof shape): string {
	if (border === "outer" && input === "rect") {
		return "0.5em";
	}

	if (border === "inner" && input === "rect") {
		return "0.75em";
	}

	return "50%";
}

function calcSize(input: typeof size): string | undefined {
	interface Size {
		name: string;
		size: string;
	}

	const sizes: Array<Size> = [
		{ name: "sm", size: "148px" },
		{ name: "md", size: "424px" },
		{ name: "lg", size: "586px" },
		{ name: "auto", size: "auto" },
	];
	const matchingSize = sizes.find((match) => match.name === input);

	if (matchingSize) {
		return matchingSize.size;
	}

	return input;
}
---

<div
	class="flex justify-center items-center aspect-[var(--img-aspect)] rounded-[var(--outter-radius)] w-[var(--img-w)] min-w-[var(--img-w)] max-h-[var(--img-w)] bg-surface border-2 shadow-lg"
	style={{
		"--img-w": calcSize(size),
		"--img-aspect": aspect,
		"--outter-radius": calcRadius("outer", shape),
		"--inner-radius": calcRadius("inner", shape),
	}}
>
	<div
		class="box-content flex justify-center items-center aspect-[var(--img-aspect)] rounded-[var(--inner-radius)] border-8 border-[var(--color-surface-primary)] w-full bg-gray-900"
	>
		{placeholder ? <Icon name="image" size="64" color="white" /> : <slot />}
	</div>
</div>
