---
import Badge from "@/ui/Badge.astro";
---

<a href="/about" class="flex items-center justify-between gap-2 border-lg shadow-lg p-2 bg-white">
	<strong class="text-nowrap">@Rollygon</strong>
	<Badge label="Commissions closed!" color="red" />
</a>
