---
import Badge from "@/ui/Badge.astro";
import Icon from "@/ui/Icon.astro";
---

<a href="/about" class="flex items-center gap-2 border-lg shadow-lg p-2 w-fit bg-surface">
	<Icon name="user" />
	<span>He/him</span>|<span>Jay Rolly</span>
	<Badge label="Commissions closed!" color="red" />
</a>
