---
import Badge from "@/ui/Badge.astro";

interface Props {
	style? : "primary" | "alt" | "error" | "default";
}

const { style = "primary" } = Astro.props; 
---

<a href="/about" class="info-banner">
	<strong class="label">@Rollygon</strong>
	<Badge label="Commissions closed!" {style} />
</a>

<style>
	.info-banner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space-2);

		width: fit-content;
		padding: var(--space-2);
		border: var(--border);
		border-radius: var(--radius-pill);
		background: var(--bg-light);

		.label {
			margin-left: var(--space-2);
		}

		&:hover {
			background: var(--bg-hover);
			border-color: var(--outline-hover);
		}
	}
</style>
