---
import { calcReadTime } from "@/scripts/utilities";
import type { CollectionEntry } from "astro:content";

interface Props {
	content: CollectionEntry<"posts"> | CollectionEntry<"tools">;
}

const { content } = Astro.props;
---

<div class="column-sm">
	<span class="heading-xs">{calcReadTime(content.body)} min. read</span>
	<span class="indicator">
		<span data-article-progress></span>
	</span>
</div>
<script is:inline>
	const progressIndicator = document.querySelector("[data-article-progress]");

	window.onscroll = function () {
		const windowScroll = document.body.scrollTop || document.documentElement.scrollTop;
		const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
		const scrolled = (windowScroll / height) * 110;

		progressIndicator.style.width = scrolled + "%";
	};
</script>
<style>
	.indicator {
		position: relative;
		display: flex;

		padding: var(--space-1);
		background: var(--bg-light);
		border: vaR(--border);
		border-radius: var(--radius-pill);
	}

	[data-article-progress] {
		display: flex;

		min-width: var(--space-2);
		height: var(--space-2);
		border-radius: var(--radius-pill);
		border: var(--border);
		border-color: var(--brand-outline);
		background: var(--brand-bg);

		content: "";
	}
</style>