---
import type { HTML } from "@/scripts/constants";
import Link from "@/ui/Link.astro";
import type { MarkdownHeading } from "astro";

interface Props extends HTML {
	headings: Array<MarkdownHeading>;
}

const { headings, class: className } = Astro.props;
---

<section class={`column-md ${className}`}>
	<span>Table of Contents</span>
	<ol class="column-sm list-decimal">
		{
			headings.map((heading) =>
				heading.depth > 2 ? (
					<ol>
						<li class="ml-8">
							<Link label={heading.text} href={"#" + heading.slug} />
						</li>
					</ol>
				) : (
					<li class="ml-4">
						<Link label={heading.text} href={"#" + heading.slug} />
					</li>
				),
			)
		}
	</ol>
</section>

<style>
	section {
		padding-bottom: var(--space-4);
		border-bottom: var(--border);

		span:first-child {
			width: fit-content;
			padding-bottom: var(--space-2);
			border-bottom: var(--border);
			text-transform: uppercase;
		}
	}

	ol > ol {
		list-style: disc;
	}

	li, ol {
		margin-left: var(--space-3);
	}
</style>
