---
import type { HTML } from "@/scripts/constants";
import Link from "./Link.astro";
import type { MarkdownHeading } from "astro";

interface Props extends HTML {
	headings: Array<MarkdownHeading>;
	compact?: boolean;
}

const { headings, compact, class: className } = Astro.props;
---

<nav class:list={["sticky layout-md", className]}>
	{!compact && <hr />}
	{compact ? <span class="heading-xs">Table of Contents</span> : <h2>Table of Contents</h2>}
	<ol class="layout-sm list-decimal">
		{
			headings.map((heading) =>
				heading.depth > 2 ? (
					<ol class="list-disc">
						<li class="ml-8">
							<Link label={heading.text} href={"#" + heading.slug} />
						</li>
					</ol>
				) : (
					<li class="ml-4">
						<Link label={heading.text} href={"#" + heading.slug} />
					</li>
				),
			)
		}
	</ol>
	{!compact && <hr />}
</nav>
