---
import { Color, setStyles, type ColorName } from "@/scripts/interface";

interface Props {
	label: string;
	count: number;
}

const { label, count } = Astro.props;

export function setTagColorTheme(input: string): string {
	interface ColoredTag {
		name: string;
		color: ColorName;
	}

	const coloredTags: Array<ColoredTag> = [
		{ name: "Guide", color: "blue" },
		{ name: "Tool", color: "yellow" },
		{ name: "Update", color: "orange" },
		{ name: "Coaster", color: "purple" },
		{ name: "Intamin", color: "red" },
		{ name: "B&M", color: "blue" },
		{ name: "Blender", color: "orange" },
	];
	const tag = coloredTags.find((tag) => tag.name === input);

	return tag?.color || "neutral";
}
---

<span
	data-tag
	class="flex items-center bg-[var(--color)] border-sm shadow-sm shadow-sm-hover px-2 w-fit"
	style={setStyles(Color[setTagColorTheme(label)])}
>
	<small class="pr-2 py-[2px] max-w-[24ch] overflow-hidden overflow-ellipsis whitespace-nowrap">
		<strong>#{label}</strong>
	</small>
	<small class="pl-2 py-[2px] border-l-2"><strong>{count}</strong></small>
</span>
